<%= form_with(model: question, class: "space-y-6") do |form| %>
<% if question.errors.any? %>
<div class="bg-error/10 text-error rounded-lg p-4 mb-6">
  <h2 class="font-bold text-lg mb-2"><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

  <ul class="list-disc ml-5">
    <% question.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-control w-full">
  <%= form.label :title, "Question Title", class: "label font-medium text-base-content" %>
  <div class="label-text-alt text-base-content/70">Provide a brief title that summarizes your question</div>
  <%= form.text_field :title, class: "input input-bordered w-full mt-1 bg-base-100 text-base-content border border-base-300 rounded-md", placeholder: "e.g., How can I support a transgender friend?" %>
</div>

<div class="form-control w-full">
  <%= form.label :content, "Question Details", class: "label font-medium text-base-content" %>
  <div class="label-text-alt text-base-content/70">Provide as much context and detail as possible</div>
  <%= form.text_area :content, rows: 6, class: "textarea textarea-bordered w-full mt-1 bg-base-100 text-base-content border border-base-300 rounded-md", placeholder: "Please describe your question in detail. The more information you provide, the better our experts can answer your question." %>
</div>

<div class="form-control w-full mt-4" id="email_field_container" data-controller="question-form">
  <div class="email-details-group transition-all duration-300 ease-in-out overflow-hidden max-h-[300px] opacity-100" data-question-form-target="emailDetailsGroup">
    <%= form.label :email, "Email Address (Optional, but recommended)", class: "label font-medium text-base-content" %>
    <div class="label-text-alt text-base-content/70">
      If provided, we'll email you a link to your question and notify you when it receives a response.
      If not provided, you'll need to check back manually to see responses.<br />
      <span class="text-error">Responders never see your email address, and we don't collect your name.</span>
    </div>
    <%= form.email_field :email, class: "input input-bordered w-full mt-1 bg-base-100 text-base-content border border-base-300 rounded-md", placeholder: "your.email@example.com", id: "question_email", 'data-question-form-target': 'emailField' %>
  </div>
  <div class="form-control mb-6 mt-4">
    <label class="label cursor-pointer">
      <%= form.check_box :anonymous, class: "checkbox checkbox-primary mr-2", id: "question_anonymous", 'data-action': 'change->question-form#toggleAnonymous' %>
      <span class="label-text">Submit Anonymously</span>
    </label>
  </div>
</div>

<div class="form-control mt-6">
  <%= form.hidden_field :status, value: "pending" %>
  <%= form.submit "Submit Question", class: "btn btn-accent w-full sm:w-auto" %>
</div>
<% end %>