<div id="<%= dom_id terminology %>">
  <p>
    <strong>Term:</strong>
    <%= terminology.term %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= terminology.definition %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= terminology.info %>
  </p>

  <p>
    <strong>Responder:</strong>
    <%= terminology.responder_id %>
  </p>

</div>
