<p style="color: green"><%= notice %></p>

<%= render @terminology %>

<div>
  <%= link_to "Edit this terminology", edit_terminology_path(@terminology) %> |
  <%= link_to "Back to terminologies", terminologies_path %>

  <%= button_to "Destroy this terminology", @terminology, method: :delete %>
</div>
