<section class="bg-base-100 text-base-content">
  <div class="container mx-auto px-4 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-8">
      <div class="bg-base-200 backdrop-blur-sm p-8 md:p-10 rounded-2xl border border-white/20">
        <h2 class="text-2xl font-bold mb-4">Get answers about gender</h2>
        <p class="mb-6">Have questions about issues of gender? Our volunteer responders are here to answer them.</p>
        <%= link_to "Ask a Question", new_question_path, class: "btn btn-soft btn-primary mt-4" %>
      </div>
      <div class="bg-base-200 backdrop-blur-sm p-8 md:p-10 rounded-2xl border border-white/20">
        <h2 class="text-2xl font-bold mb-4">Explore the Knowledge Base</h2>
        <p class="mb-6">Browse our curated collection of resources related to gender diversity and inclusion.</p>
        <%= link_to "Browse Knowledge Base", knowledges_path, class: "btn btn-soft btn-secondary mt-4" %>
      </div>
      <div class="bg-base-200 backdrop-blur-sm p-8 md:p-10 rounded-2xl border border-white/20">
        <h2 class="text-2xl font-bold mb-4">Learn the lingo</h2>
        <p class="mb-6">Learn about the language and terminology of gender, and how to use it.</p>
        <%= link_to "How Do I Say...?", terminologies_path, class: "btn btn-soft btn-accent mt-4" %>
      </div>
      <div class="bg-base-200 backdrop-blur-sm p-8 md:p-10 rounded-2xl border border-white/20">
        <h2 class="text-2xl font-bold mb-4">Get involved</h2>
        <p class="mb-6">Genderbase relies on donations and volunteers to keep running. We'd love your help.</p>
        <%= link_to "Make a Donation", home_donate_path, class: "btn btn-soft mt-4" %> <%= link_to "Share Your Experience", home_volunteer_path, class: "btn btn-soft mt-4" %>
      </div>
    </div>
  </div>
</section>
