<div id="<%= dom_id knowledge %>">
  <p>
    <strong>Title:</strong>
    <%= knowledge.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= knowledge.body %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= knowledge.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= knowledge.category %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= knowledge.slug %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= knowledge.question_id %>
  </p>

  <p>
    <strong>Responder:</strong>
    <%= knowledge.responder_id %>
  </p>

</div>
