<p style="color: green"><%= notice %></p>

<%= render @knowledge %>

<div>
  <%= link_to "Edit this knowledge", edit_knowledge_path(@knowledge) %> |
  <%= link_to "Back to knowledges", knowledges_path %>

  <%= button_to "Destroy this knowledge", @knowledge, method: :delete %>
</div>
