<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= content_for(:title) || "Genderbase" %></title>
  <%= stylesheet_link_tag "application", "data-turbo-track": hotwire_livereload_value %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="Genderbase" />
  <meta name="application-name" content="Genderbase" />
  <meta name="author" content="Genderbase" />
  <meta name="color-scheme" content="dark light" />
  <meta name="description" content="Educational resources about topics of gender. Contains a knowledge base and a way to ask questions of vetted experts." />
  <meta name="format-detection" content="telephone=yes" />
  <meta name="keywords" content="gender, education, resources, genderbase" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="og:description" content="Educational resources about topics of gender. Contains a knowledge base and a way to ask questions of vetted experts." />
  <meta name="og:image:alt" content="Genderbase" />
  <meta name="og:image:height" content="2000" />
  <meta name="og:image:type" content="image/png" />
  <meta name="og:image:width" content="2000" />
  <meta name="og:image" content="<%= image_url("genderbase-logo.png") %>" />
  <meta name="og:locale" content="en_GB" />
  <meta name="og:site_name" content="Genderbase" />
  <meta name="og:title" content="Genderbase" />
  <meta name="og:type" content="website" />
  <meta name="og:url" content="<%= canonical_url %>" />
  <meta name="referrer" content="strict-origin-when-cross-origin" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#000000">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>
  <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
  <link rel="canonical" href="<%= canonical_url %>" />
  <link rel="icon" href="<%= image_url("genderbase-logo.png") %>" type="image/png" />
  <link rel="icon" href="<%= image_url("genderbase-logo.svg") %>" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="<%= image_url("genderbase-logo.png") %>" />
</head>

<body>
  <%= render 'shared/header' %>
  <div class="<%= responder_signed_in? ? "pt-16" : "pt-6" %>">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>

</html>